<style>
    body {
        margin: 0
    }

    .body {
        width: 147mm;
        height: 209mm;
        overflow: hidden;
        box-sizing: border-box;
        font-weight: 400;
        line-height: 1.6;
        text-align: left;

        background-color: #e4ffde;
        font-size:14pt;
        font-family: "Comic Sans MS";
    }

    .img0 {
        display:block;
        width:70%;
        margin:0 0 0 auto;
    }

    .post {
        font-size: {{{percent 1.1 config.post_font_size}}}em;
    }

    .tmplname {
        position:absolute;
        top:5mm;
        right:5mm;
        padding:5mm;
        border-radius:5mm;

        background: rgba(255,255,255,.5);
        color:black;
    }
</style>
<div class='body'>
        <div class='tmp_title'>{{title}}</div>
        <img src='{{media_url}}' class='img0' alt=''/>
        {{{page_break}}}
        <div class='post'>{{{post}}}</div>
    <div class='tmplname'>Third</div>
</div>